<h1>Tous les utilisateurs</h1>

<table class="prospects" summary="Users">
 <thead>
  <tr>
   <th>Nom</th>
   <th>Type</th>
   <th>Modifications</th>
  </tr>
 </thead>
 <tbody>
   <%= render @users %>
 </tbody>
    <%= will_paginate %>
</table>