    <h1>Aide</h1>
    <p>
    Obtenez de l'aide sur le Tutoriel Ruby on Rails Tutorial sur la
    <a href="http://railstutorial.org/help">page d'aide du Tutoriel Rails</a>.
    Pour obtenir de l'aide sur cette application exemple, consultez le
    <a href="http://railstutorial.org/book">livre du Tutoriel Rails</a>.
    </p>
