<tr>
  <td class="micropost">
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">
      Posté il y a <%= time_ago_in_words(micropost.created_at) %>.
    </span>
  </td>
  <% if current_user?(micropost.user) %>
  <td>
    <%= link_to "supprimer", micropost, :method => :delete,
                                     :confirm => "Etes-vous certain ?",
                                     :title => micropost.content %>
  </td>
  <% end %>>
</tr>
